.demo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.demo-container {
    display: flex;
    justify-content: center;
    width: 80vw;
}

.demo-code {
    background-color: var(--card);
    color: var(--font-light);
    padding: 2vh;
    border-radius: 20px 0 0 0px;
    box-shadow: 0 0 30px #6b6b6bdd;
}

.demo-card {
    padding: 3vh;
    text-align: justify;
    background-color: #fbdfff;
    border-radius: 0 20px 0px 0;
    box-shadow: 0 0 30px #6b6b6bdd;
}

.demo-cta {
    background-color: #e2c3ff;
    padding: 3vh 0;
    text-align: center;
    width: 80vw;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 10px 20px #e2c3ff;
}

.demo-cta em {
    color: rgb(255, 39, 165);
    font-weight: 900;
    cursor: pointer;
}